.__footer {
    width: 100%;
}

.__footer .__box_footer {
    width: 100%;
}

.__footer .__box_footer .__row_footer {
    width: 100%;
}

.__footer .__box_footer .__row_footer_A {
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
}

.__footer .__box_footer .__row_footer_A .__content_row_A {
    width: 90%;
    margin: auto;
}

.__footer .__box_footer .__row_footer_A .__content_row_A h3 {
    margin-bottom: .5rem;
}

.__footer .__box_footer .__row_footer_A .__content_row_A p {
    font-size: .8rem;
    margin-bottom: .5rem;
    color: var(--color-gray);
}

.__footer .__box_footer .__row_footer_A .__content_row_A .__form {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    flex-direction: column;
}

.__footer .__box_footer .__row_footer_A .__content_row_A .__form .__form_group {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: start;
    flex-direction: column;
}

.__footer .__box_footer .__row_footer_A .__content_row_A .__form .__form_group .__form_control {
    width: 100%;
}

.__footer .__box_footer .__row_footer_A .__content_row_A .__form .__form_group .__form_control .__form_entry {
    width: 100%;
    height: 50px;
    font-size: .9rem;
    border-bottom: 2px solid var(--color-gray);
}

.__footer .__box_footer .__row_footer_B {
    padding: 2rem 0;
    color: var(--color-white);
    background-color: var(--color-dark);
}

.__footer .__box_footer .__row_footer_B .__row_footer_content {
    width: 90%;
    margin: auto;
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colA {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__colA_xhs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__colA_xhs .__logo_reverse {
    width: 60%;
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__colA_xhs .__socials_lst {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__colA_xhs .__socials_lst li {
    display: grid;
    width: 40px;
    height: 40px;
    place-items: center;
    border-radius: 100%;
    background-color: var(--color-gray);
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__colA_xhs .__socials_lst li a {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__colA_xhs .__socials_lst li a .tabler-icon {
    stroke-width: 1.5;
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__line {
    width: 80%;
    height: 1px;
    background-color: var(--color-gray);
    margin: 1rem auto;
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__colA_lst {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__colA_lst li a {
    font-size: .8rem;
    font-weight: 300;
    color: var(--color-white);
}

.__footer .__box_footer .__row_footer_B .__row_footer_content .__colB {
    margin-top: 2rem;
    text-align: center;
    font-size: .8rem;
    color: var(--color-gray);
}

@media (min-width: 768px) {

    .__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__colA_xhs .__logo_reverse {
        width: 200px;
    }
}

@media (min-width: 1440px) {

    .__footer .__box_footer .__row_footer_A {
        display: flex;
        padding-right: 4rem;
        justify-content: flex-end;
    }

    .__footer .__box_footer .__row_footer_A .__sharp {
        --season-color: #DA291C;
        content: "";
        position: absolute;
        bottom: 50%;
        left: 18%;
        width: 60rem;
        transform: translate(-50%, 50%);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: var(--season-color);
    }

    .__footer .__box_footer .__row_footer_A .__content_row_A {
        width: 40%;
        margin: 0;
    }

    .__footer .__box_footer .__row_footer_B .__row_footer_content .__colA {
        flex-direction: row;
        justify-content: space-between;
    }
    .__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__line {
        display: none;
    }
    .__footer .__box_footer .__row_footer_B .__row_footer_content .__colA .__colA_lst {
        display: grid;
        gap: .2rem;
        grid-template-columns: repeat(3, 1fr);
    }

}