.--btn_link {
    position: relative;
    display: inline-flex;
    gap: .5rem;
    z-index: 1;
    overflow: hidden;
    align-items: center;
    padding: .6rem 1rem;
    width: max-content;
    border-radius: var(--radius-pill);
    border: 2px solid var(--color-dark);
}

.--btn_link svg {
    z-index: 1;
}

.--btn_link .--arrow-right {
    position: absolute;
    right: 10px;
    z-index: -1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;          /* tamaño inicial del círculo */
    height: 20px;
    border-radius: 50%;   /* círculo perfecto */
    background-color: #cedc00;
    transition: all 0.3s ease;
    flex-shrink: 0;
}

.--btn_link:hover .--arrow-right {
    right: 0;
    width: 200px;
    height: 200px;
}