@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate { animation: rotate 8s linear infinite; }
.rotate-fast { animation: rotate 2s linear infinite; }
.rotate-slow { animation: rotate 20s linear infinite; }
.rotate-once { animation: rotate 1s linear; }

.rotate-hover {
    transition: transform 0.5s ease;
}

.rotate-hover:hover {
    transform: rotate(360deg);
}