.--section-wallper {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.35) 60%,
        rgba(0, 0, 0) 100%
    );
}

.--section-wallper-0 {
    height: calc(100dvh - 70px);
}

.--section-wallper .--wallper {
    position: absolute;
    left: 5%;
    bottom: 12%;
    max-width: 90%;
    color: var(--color-white);
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    border: 1px solid var(--color-white);
    padding: .8rem;
    border-radius: var(--radius-md);
}



@media (min-width: 1024px) {

    .--section-wallper .--wallper .--title {
        font-size: var(--fs);
    }

}