:root {
    --color-white: #FFFFFF;
    --color-dark: #181818;
    --color-gray: #6E6E6E;
    --font-family: "Geologica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100dvw;
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

input, select, textarea {
    outline: none;
}

ul, li, ol {
    list-style: none;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}