.__section_hero {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    overflow: hidden;
}

.__section_hero .__box_section {
    position: relative;
    width: 90%;
    margin: auto;
    height: 500px;
    overflow: hidden;
}

.__section_hero .__box_section::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: .25rem;
    background: linear-gradient(to bottom, var(--color-dark), rgba(0, 0, 0, 0));
    opacity: .3;
}

.__section_hero .__box_section .__img_banner_home {
    position: absolute;
    z-index: -2;
    inset: 0;
}

.__section_hero .__box_section .__home_page_hero .__titler_hero {
    color: var(--color-white);
    text-transform: uppercase;
}

.__section_hero .__box_section .__home_page_hero .__form_ai label {
    border-top-left-radius: var(--radius-sm);
    border-top-right-radius: var(--radius-sm);
}

.__section_hero .__box_section .__home_page_hero .__form_ai div span {
    left: 10px;
    top: 1rem;
    pointer-events: none;
    opacity: 0.6;
}

.__section_hero .__box_section .__home_page_hero .__form_ai div button {
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    min-width: 40px;
}


.__section_hero .__recommend_grid .__items {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
}

.__section_hero .__recommend_grid .__items .__item .__item_link .__item_bg {
    width: 100%;
    height: 120px;
}


@media (min-width: 768px) {
    .__section_hero .__box_section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-radius: var(--radius-lg);
    }
    .__section_hero .__box_section .__home_page_hero {
        width: 60%;
    }
    .__section_hero .__box_section .__home_page_hero .__titler_hero {
        font-size: var(--fs-4xl);
        text-align: left;
    }
    .__section_hero .__box_section .__home_page_hero .__form_ai label {
        margin: 0 20px;
    }

    .__section_hero .__recommend_grid .__items {
        grid-template-columns: repeat(4, 1fr);
    }

    .__section_hero .__recommend_grid .__items .__item .__item_link .__item_bg {
        height: 140px;
    }

}

@media (min-width: 1024px) {
    .__section_hero .__box_section {
        height: 580px;
        padding: 8rem;
    }
    .__section_hero .__box_section .__home_page_hero {
        width: 50%;
    }
    .__section_hero .__box_section .__home_page_hero .__titler_hero {
        font-size: 4rem;
    }
    .__section_hero .__recommend_grid .__items .__item .__item_link .__item_bg {
        height: 180px;
    }
    .__section_hero .__recommend_grid .__items .__item .__item_link h4 {
        font-size: var(--fs-sm);
    }
}