.__section_hero {
    width: 100%;
    height: calc(100dvh - 70px);
}

.__section_hero .__box_section {
    width: 100%;
    margin: auto;
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.__section_hero .__box_section .__titler {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.__section_hero .__box_section  .__a_link_btn_action {
    display: flex;
    gap: .8rem;
    margin: 2rem 0;
    align-items: center;
    padding: .8rem 2rem;
    border-radius: 100px;
    background-color: var(--color-white);
    box-shadow: 0px 4px 8px 0px rgb(158 158 158 / 20%);
}

.__section_hero .__box_section .__list_trips {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-left: 2rem;
}

.__section_hero .__box_section .__list_trips:last-child {
    padding-right: 2rem;
}

.__section_hero .__box_section .__list_trips::-webkit-scrollbar {
    display: none;
}

.__section_hero .__box_section .__list_trips .__item_trip .__card_link {
    width: 250px;
    min-width: 250px;
}

.__section_hero .__box_section .__list_trips .__item_trip .__card_link .__card_link_img {
    display: block;
    width: 250px;
    height: 300px;
    margin-bottom: .8rem;
    border-radius: 10px;
    background-color: #F2F0F5;
}